﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/")css/toastr.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/")css/login.css" rel="stylesheet" />

</head>
<body>


    @RenderBody()


    <script src="@Url.Content("~/")js/jquery-3.5.1.min.js"></script>
    <script src="@Url.Content("~/")js/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/")js/bootstrap.js"></script>

</body>
</html>


