﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - TestState_mzi</title>

    <link href="@Url.Content("~/")css/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/")css/publicstyles.css" rel="stylesheet" />
    <link href="@Url.Content("~/")fonts/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/")js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
    <script src="@Url.Content("~/")js/bootstrap.js"></script>
    <script src="@Url.Content("~/")js/public.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/Validation-Custom.js"></script>


</head>
<body class="sidebar-fixed header-fixed">

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal" tabindex="-1" id="FormModal" role="dialog" style="display:none">
        <div id="loader" class="lds-dual-ring hidden overlay"></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

</body>
</html>
