﻿
@model TestState_mzi.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ورود به مدیریت املاک";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<div class="wrapper">
    <div class="container">

        <form class="form" method="post" action="@Url.Action("Login", "Account")">

            @Html.AntiForgeryToken()
            @if (Model != null)
            {
                <div style="color:red">
                    @Model.StatusText
                </div>
            }

            <div class="form-group has-feedback">

                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control input key-active", maxlength = "30", required = "required", placeholder = "نام کاربری" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control input key-active", maxlength = "11", required = "required", placeholder = "شماره موبایل" })
            </div>


            <button type="submit" class="key-press" id="login-button">ورود</button>
            <br />

        </form>

    </div>


</div>



<script>
    $('.key-active').keypress(function (event) {
        if (event.keyCode == 13) {
            $('.key-press').click();
        }
    });
</script>