﻿@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/iransansweb/iransansweb_light.eot');
    src: url('../fonts/iransansweb/iransansweb_light.eot?#iefix') format('embedded-opentype'), url('../fonts/iransansweb/iransansweb_light.woff') format('woff'), url('../fonts/iransansweb/iransansweb_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan/Yekan.eot);
    src: url(../fonts/Yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan/Yekan.woff) format("woff"), url(../fonts/Yekan/Yekan.ttf) format("truetype"), url(../fonts/Yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

small {
    color: #f9a72c;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: yekan,sans-serif;
    color: white;
    font-weight: 300;
}

    body ::-webkit-input-placeholder {
        /* WebKit browsers */
        font-family: yekan,sans-serif;
        color: white;
        font-weight: 300;
    }

    body :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-family: yekan,sans-serif;
        color: white;
        opacity: 1;
        font-weight: 300;
    }

    body ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-family: yekan,sans-serif;
        color: white;
        opacity: 1;
        font-weight: 300;
    }

    body :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        font-family: yekan,sans-serif;
        color: white;
        font-weight: 300;
    }


.wrapper {
    background: #0c0c0c;
    background-image: linear-gradient(-225deg, #0e0e0ed6 10%, #262829 51%, #c8e4e1 100%);
    position: absolute;
    /* top: 50%; */
    left: 0;
    width: 100%;
    height: 100%;
    /* margin-top: -200px; */
    overflow: hidden;
}
    /*
.wrapper {
    background: #50a3a2;
    background: linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
}*/

    .wrapper.form-success .container h1 {
        transform: translateY(85px);
    }

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}

    .container h1 {
        font-size: 40px;
        transition-duration: 1s;
        transition-timing-function: ease-in- put;
        font-weight: 200;
    }

form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    box-shadow: -4px -4px 14px 0px #00000099;
    margin-right: 50px;
    margin-left: 50px;
    /* opacity: 100%; */
    background: #0c0c0cb0;
    margin-top: 15%;
    padding-bottom: 50px;
}

    form .input {
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        font-weight: 300;
    }

        form .input:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        form .input:focus {
            background-color: white;
            width: 300px;
            color: #263c5a;
        }

.has-feedback .form-control {
    padding-right: 0 !important;
}

form button {
    appearance: none;
    outline: 0;
    background-color: #bdfdfd;
    border: 0;
    padding: 10px 15px;
    color: #020202;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    box-shadow: inset 0px -16px 20px 0px #001519;
}

    form button:hover {
        background-color: #50a3a2;
    }

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

    .bg-bubbles li {
        position: absolute;
        list-style: none;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.15);
        bottom: -160px;
        animation: square 10s infinite;
        transition-timing-function: linear;
    }

        .bg-bubbles li:nth-child(1) {
            left: 10%;
        }

        .bg-bubbles li:nth-child(2) {
            left: 20%;
            width: 80px;
            height: 80px;
            animation-delay: 1s;
            animation-duration: 16s;
        }

        .bg-bubbles li:nth-child(3) {
            left: 25%;
            animation-delay: 3s;
        }

        .bg-bubbles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-duration: 20s;
            background-color: rgba(255, 255, 255, 0.25);
        }

        .bg-bubbles li:nth-child(5) {
            left: 70%;
        }

        .bg-bubbles li:nth-child(6) {
            left: 80%;
            width: 120px;
            height: 120px;
            animation-delay: 3s;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .bg-bubbles li:nth-child(7) {
            left: 32%;
            width: 160px;
            height: 160px;
            animation-delay: 6s;
        }

        .bg-bubbles li:nth-child(8) {
            left: 55%;
            width: 20px;
            height: 20px;
            animation-delay: 14s;
            animation-duration: 200s;
        }

        .bg-bubbles li:nth-child(9) {
            left: 25%;
            width: 10px;
            height: 10px;
            animation-delay: 2s;
            animation-duration: 0s;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .bg-bubbles li:nth-child(10) {
            left: 90%;
            width: 160px;
            height: 160px;
            animation-delay: 11s;
        }

@keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}
