﻿
@{
    Layout = "";
}


<div class="modal-header">
    <div class="col text-center">
        <span style="display:inline-block" class="mt5 text-center">ثبت ملک جدید</span>
    </div>
</div>

<form action="~/Land/CreateLand" class="popup-form">
    @Html.AntiForgeryToken()
    <div class="col text-right">
        <span style="display: inline-block; padding-right: 22px;" class="mt15 text-center">
            انتخاب مالک
        </span>
    </div>
    <div class="col-md-12 text-center mt5" style=" padding-left: 37px;">
        <select class="selected-custom invalid" id="LandOwnerId" name="LandOwnerId" data-addV>
            <option value="">انتخاب کنید</option>
            <option value="1">farnaz mzi</option>
            <option value="2">niloo alee</option>
        </select>
        <input type="hidden" id="SelectedRoleIds" name="SelectedRoleIds" value="" />
    </div>
    <div class="row input-row ">
        <div class="col-md-6">
            <fieldset class="material">
                <i class="fas fas fa-tag input-prefix input-icon "></i>
                <input class="invalid nu" maxlength="10" type="text" name="LandNumber" id="LandNumber" placeholder="" autocomplete="off" required data-addV>
                <hr />
                <label for="LandNumber" class="input-label">شماره ملک</label>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="material">
                <i class="fas fas fa-tag input-prefix input-icon "></i>
                <input class="invalid" maxlength="20" type="text" name="Name" id="Name" placeholder="" autocomplete="off" required data-addV>
                <hr />
                <label for="Name" class="input-label">عنوان ملک</label>
            </fieldset>
        </div>
    </div>
    <div class="row input-row ">
        <div class="col-md-6">
            <fieldset class="material">
                <i class="fas fas fa-tag input-prefix input-icon "></i>
                <input class="invalid" maxlength="150" type="text" name="Address" id="Address" placeholder="" autocomplete="off" required data-addV>
                <hr />
                <label for="Address" class="input-label">آدرس </label>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="material">
                <i class="fas fas fa-tag input-prefix input-icon "></i>
                <input class="invalid nu" maxlength="5" type="text" id="Dimension" name="Dimension" placeholder="" autocomplete="off" required data-addV>
                <hr />
                <label for="Dimension" class="input-label">متراژ </label>
            </fieldset>
        </div>
    </div>
    <div class="row input-row ">
        <div class="col-md-6">
            <div class="row text-center rowStyle toggle-border mt10 p10" style="margin-top: 20px;">
                <label for="IsNortherly" id="statuslable" class="input-label" style=" margin-right: 35px;">ملک شمالی </label>
                <div class="col text-left">
                    <label class="switch">
                        <input type="checkbox" id="IsNortherly" name="IsNortherly" value="True" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="modal-footer">
        <div class="col text-left">
            <button type="button" class="btn btnGreenColorStyle btn-submit" style="width:125px">ثبت</button>
        </div>
        <div class="col cancel-btn">
            <button type="button" class="btn btnRedColorStyle" data-dismiss="modal" style="width:125px">انصراف</button>
        </div>
    </div>
</form>

<script>
    $('#IsNortherly').change(function () {

        if ($(this).prop("checked") == true)
        {
            $(this).val("True");
            $('#statuslable').text('ملک شمالی');
        }
        else {
            $(this).val("False");
            $('#statuslable').text('ملک جنوبی');
        }
       
    });
    $(document).ready(function () {
        //for convert to number
        $('.nu').keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });
</script>