﻿@model List<TestState_mzi.Models.LandModel>
@{
    ViewData["Title"] = "مدیریت ملک ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container box-contain">
    <div class="top-panel" style="padding:7px 0px;">

        <div class="text-center">
            <h3 class="mt55">
                مدیریت ملک ها
            </h3>
        </div>
        <hr />

    </div>
    <div class="break-form"></div>
    <div class="add-btn" id="loading" onclick="showModal('/Land/CreateLand/')"><i class="fas fa-plus "></i></div>
    <table class="stripe  row-border order-column data-grid text-center" width="100%" cellspacing="0">
        <thead class="text-center">
            <tr class="text-center">
                <th class="text-center">شماره ملک</th>
                <th class="text-center">نام ملک</th>
                <th class="text-center">متراژ </th>
                <th class="text-center">آدرس</th>
                <th class="text-center">وضعیت</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody style="margin-bottom:10px">
            @{ if (Model != null)
                {
                    foreach (var land in Model)
                    {
                        <tr style=" border-top: 1px solid gray;font-size: 12px;">                           
                            <td>@land.LandNumber</td>
                            <td>@land.Name</td>
                            <td>@land.Dimension</td>
                            <td>@land.Address</td>
                            <td>@(land.IsNortherly == true ? "ملک شمالی" : "ملک جنوبی")</td>
                            <td><a class='btn-edit' data-id="@land.Id" >&nbsp; ویرایش</a></td>
                            <td><a class='btn-del' data-id="@land.Id"><i class='fas '></i>&nbsp; حذف</a></td>
                        </tr>
                        }
                    }
                }
        </tbody>
    </table>
</div>


<script>
 
    $(document).on('click', '.btn-edit', function () {
        var id = $(this).attr('data-id');
        var url = "/Land/UpdateLand?id=" + id;
        showModal(url)      
    });
    $(document).on('click', '.btn-del', function () {
        var id = $(this).attr('data-id');
        if (confirm("آیا میخواهید حذف کنید؟")) {
            $.ajax({
                url: '/Land/DeleteLand?id=' + id,
                type: 'get',
                dataType: "html",
                success: function (data) {
                        location.reload(true);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //hide loading();
                    showNotify('far fa-frown alert-icon', "!خطا در سیستم", 'error');
                }
            });
        }
      
    });
  
</script>